@font-face {
    font-family: "Geist";
    src: url("./fonts/GeistVF.woff2") format("woff2"),
        url("./fonts/GeistVF.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    font-family: Geist, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    font-weight: 400;

    --background: 221 100% 95%;
    --foreground: 221 5% 0%;
    --card: 221 50% 90%;
    --card-foreground: 221 5% 10%;
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 0%;
    --primary: 221 87% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 183 30% 85%;
    --muted-foreground: 221 5% 35%;
    --accent: 183 30% 80%;
    --accent-foreground: 221 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 50%;
    --input: 221 30% 18%;
    --ring: 221 87% 10%;
    --radius: 0.5rem;
}
.dark {
    --background: 221 50% 5%;
    --foreground: 221 5% 90%;
    --card: 221 50% 0%;
    --card-foreground: 221 5% 90%;
    --popover: 221 50% 5%;
    --popover-foreground: 221 5% 90%;
    --primary: 221 87% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 30% 15%;
    --muted-foreground: 221 5% 60%;
    --accent: 183 30% 15%;
    --accent-foreground: 221 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 18%;
    --input: 221 30% 18%;
    --ring: 221 87% 10%;
    --radius: 0.5rem;
}
